a {
  color: $black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.nav {
  text-align: center;

  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  li {
    display: inline-block;
    list-style-type: none;
  }
  ul {
    margin: 0;
    padding: 1em;
  }
}

.dotted-bottom {
  border-bottom: 2px dashed $gray;
}

.spaced-section {
  padding-top: 9em;
  padding-bottom: 9em;
}

.spaced-section-sm {
  padding-top: 4em;
  padding-bottom: 4em;
}

.hero {
  padding: 11em 0;
  text-align: center;
  .hero-title {
    font-family: $secondary-font;
    font-size: 2.7em;
  }
}

.section-content {
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  max-width: $breakpoint-small;
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.section-title {
  font-family: $secondary-font;
  font-size: 1.55em;
  margin: 1.75em 0;
  text-transform: capitalize;
  &::before {
    content: '// ';
    font-family: $secondary-font;
  }
}

.section-link {
  float: right;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  font-weight: bold;
  &::after {
    content: ' »';
  }

  &:hover {
    &::after {
      font-weight: bold;
    }
  }
}

.post-section-content {
  margin-left: auto;
  margin-right: auto;
  max-width: $breakpoint-large;
  padding: 2em;

  h2,
  h3,
  h4,
  h5 {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  h2 {
    font-size: 1.25em;
  }

  h3 {
    font-size: 1em;
  }

  blockquote {
    border-left: 2px dashed $gray;
    margin: 2em 0;
    padding: 1em;
    background-color: $gray-lighter;
  }

  .section-title {
    margin: 0.5em 0;
  }
}

.post-tags {
  // margin: 4em 0;
  .tag {
    float: right;
  }
}

.post-meta {
  margin-bottom: 2em;
}

.archive-section-content {
  margin-left: auto;
  margin-right: auto;
  max-width: $breakpoint-med;
  padding: 1em;
}

.archive-list-entry {
  margin-top: 3em;
}

.archive-list-entry:last-child {
  border-bottom: none;
}

.tag {
  font-size: 0.9em;
  border: 1px solid $black;
  padding: 0.5em 1em;
  display: inline-block;
  margin: 0.25em;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}

ul.fancy {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

ul.fancy li {
  padding-left: 1.25em;
  text-indent: -1em;
}

ul.fancy li::before {
  content: '»';
  padding-right: 1em;
}

.gad-icon {
  height: 75px;
  width: 75px;
  margin-right: 0.85em;
  float: left;
}

.article-mini {
  margin-bottom: 3em;
}

.article-title {
  text-transform: uppercase;
  margin-bottom: 0.25em;
}

.article-short .article-image cite {
  display: none;
}

.article-image {
  font-size: 0.9em;
  margin-bottom: 2em;
}

.article-image img {
  width: 100%;
  margin: 0;
}

.article-image-sub {
  color: $gray-darker;
}

.article-image cite {
  display: block;
  text-align: right;
}

.social-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.social-connect {
  font-size: 1em;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  .social-link {
    margin-right: 0.5em;
  }
  a:hover {
    text-decoration: none;
  }
}

.social-long {
  .social-link {
    display: block;
    margin-bottom: 1em;
  }
}

.social-short {
  font-size: 2em;
  .social-title {
    display: none;
  }
  .social-icon {
    margin: 0 0.25em;
  }
}
