$white: #ffffff;
$black: #130307;
$gray: #c6c6c6;
$gray-darker: #7e7e7e;
$blue: #009ce2;
$orange: #ff861d;
$yellow: #fe6;
$gray-lighter: #efefef;

// @media (min-width: $breakpoint-small) {  }
$breakpoint-small: 30rem;
$breakpoint-med: 45rem;
$breakpoint-large: 60rem;

$primary-font: 'Helvetica Neue', 'Helvetica', sans-serif;
$secondary-font: 'Courier New', Courier, monospace;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 900;
$font-height: 1.5;

* {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  color: $black;
  line-height: $font-height;
  font-size: 100%;
}

.flx-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flx-main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.f4 {
  font-size: 1rem;
  @media only screen and (min-width: $breakpoint-small) {
    font-size: 1.125rem;
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.clear-after::after {
  content: ' ';
  display: block;
  clear: both;
}

@import '_normalize.scss';
@import '_grid.scss';
@import '_forms.scss';
@import '_components.scss';
@import '_colors.scss';
@import '../../../node_modules/highlight.js/scss/docco.scss';
